Age

In [1]:
birth_year = 1986
current_year = 2024
age = current_year - birth_year
print("I am",age, "years old.")

I am 38 years old.

Area

In [2]:
length = 92
width = 48.8
total_area = length * width
print("Total area of the football field in square meters is :", total_area)

Total area of the football field in square meters is : 4489.599999999999

bin-17

In [3]:
print("17 is represented in binary as",bin(17))

17 is represented in binary as 0b10001

change remaining

In [4]:
packets = 9
packet_cost = 1.49
total_cost = packets * packet_cost
amount_paid = 20
change = amount_paid - total_cost
print("Change from the shopkeeper in dollars is ", change)

Change from the shopkeeper in dollars is  6.59

name

In [5]:
first_name = "Indira"
middle_name = ""
last_name = "Vadlamudi"
full_name = first_name + " " + middle_name + " " + last_name
print("My full name is:",full_name)

My full name is: Indira  Vadlamudi

order

In [6]:
Order_amount = float(input("Enter order amount: "))
if Order_amount > 50:
    print("Free shipping!")
else:
    print("Shipping charges apply.")

Shipping charges apply.

temperature

In [7]:
Temp = float(input("Enter temperature: "))
Unit = input("Enter unit (C/F): ").upper()
if Unit == "C":
    Converted_temp = (Temp * 9/5) + 32
    print("Temperature in Fahrenheit:", Converted_temp, "degrees Fahrenheit")
elif Unit == "F":
    Converted_temp = (Temp - 32) * 5/9
    print("Temperature in Celsius:", Converted_temp, "degrees Celsius")
else:
    print("Invalid unit entered.")

Temperature in Fahrenheit: 140.0 degrees Fahrenheit

TICKET

In [8]:
Age = int(input("Please enter your age: "))
if Age >= 65:
    print("Ticket price for adults: $10.00")
elif Age < 12:
    print("Ticket price for children: $8.00")
else:
    print("Ticket price for seniors: $12.50")

Ticket price for adults: $10.00

Tiles cost

In [9]:
length = 5.5
tilecost_per_sqft = 500
total_cost = length ** 2 * tilecost_per_sqft
print("Total cost to replace all tiles is", total_cost, "Rs")

Total cost to replace all tiles is 15125.0 Rs

Valid/Invalid

In [10]:
_nation = 0 //Valid. Variable names can start with an underscore.
1record = 4  // Invalid. Variable names cannot start with a number. They must start with a letter or an underscore.
record1 = 6  // Valid. This is a valid variable name, as it starts with a letter and includes a number.
record_one = 8 // Valid. This is a valid variable name, as it uses an underscore to separate words
record-one =9  //Invalid.  variable names cannot contain hyphens (-). 
record^one = 5 //variable names cannot contain special characters like the caret symbol (^).
continue = 3  //Invalid In  Python, continue is a reserved keyword and cannot be used as a variable name.

SyntaxError: invalid decimal literal (3022671188.py, line 2)

leap year or not

In [11]:
Year = int(input("Enter a year: "))
if (Year % 4 == 0 and Year % 100 != 0) or (Year % 400 == 0):
    print(Year,"is a Leap year")
else:
    print(Year,"is not a leap year.")

2024 is a Leap year